@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Retro";
  src: url("./fonts/W95FA.otf");
}

html {
  font-family: "Retro";
}

.headerBarGrey {
  background: linear-gradient(
    to right,
    #000281 0%,
    #020c88 10%,
    #031c91 10%,
    #031c91 20%,
    #0737a2 20%,
    #0737a2 30%,
    #0737a2 30%,
    #0737a2 40%,
    #0843a9 40%,
    #0843a9 50%,
    #0a51b1 50%,
    #0a51b1 60%,
    #0b5db8 60%,
    #0b5db8 70%,
    #0d70c4 70%,
    #0d70c4 80%,
    #086dc5 80%,
    #086dc5 90%,
    #1083cf 90%,
    #1083cf 100%
  );
}
